body {
  background-color: grey;
  margin: 0px;
}
.container {
  background-color: green;
  width: 95%;
  margin: auto;
  min-width: 375px;
}
header {
  background-color: rgb(62, 69, 113);
  /* height: 100px; */
  display: flex;
  justify-content: center;
  /* height: 100px; */
  padding: 10px;
  text-align: center;
}
.score {
  display: flex;
  justify-content: left;
  background-color: blue;
  width: 100%;
  color: white;
}
.game {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.dict {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}
.translatedWord {
  color: white;
  background-color: rgb(36, 63, 32);
  margin: 10px;
  width: 100px;
  height: 65px;
  text-align: center;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
